button{
    background-color: white;
    border-color: #b1c9e8;
    border-radius: 30px;
    font-family: Raleway;
    font-color: #4184e7;
    width: 150px;
}
input {
    background-color: white;
    border-color: #b1c9e8;
    border-radius: 7px;
    font-family: Raleway;
    font-color: #4184e7;
    text-align: center;
    width: 250px;
}

.select select{
    background-color: white;
    border-color: #b1c9e8;
    border-radius: 7px;
    font-family: Raleway;
    font-color: #4184e7;
    text-align: center;
}