a{
    color: #565250;
    text-decoration: none;
}
figure {
    border: transparent;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 250px;
    margin: auto;
}

figcaption {
    background-color: transparent;
    color: #565250;
    padding: 3px;
    text-align: center;
}
fieldset{
    background-color: transparent;
    border-color: #565250;
    border-decoration: none;
    border-radius: 7px;
    font-family: Qestero;
    text-align: left;
    width: 500px;
}
legend{
    text-align: left;
    margin-left: 40px;
    margin-top: 10px;
    font-size: 20px;
}
input {
    background-color: transparent;
    border-color: #565250;
    border-decoration: none;
    border-radius: 7px;
    font-family: Qestero;
    font-color: #565250;
    text-align: left;
    width: fit-content;
}
li{
    font-family: Qestero;
    text-align: left;
    margin-left: 10px;
}
ul{
    font-family: Qestero;
    text-align: left;
    margin-left: 10px;
}
label {
  font-family: Qestero;
  font-size: 15px;
    color: #565250;
  padding-right: 10px;
}

.container-fluid{
    background-color: #e1ded6;
    max-height: 700px;
}
th{
    text-align: center;
}
.navbar-brand{
    font-size: 30px;
}
.form-control{
    background-color: #e1ded6;
    border-color: #e1ded6;
    color: #565250;
}
button{
    border-color: #565250;
    color: #565250;
}
.form-select{
    background-color: #e1ded6;
    border-color: #565250;
}
.form-check-label{
    color: #565250;
}
input{
    color: #565250;
}
label{
    color: #565250;
}
body{
    background-color: #d3cec2;
    font-family: "Qestero";
    color: #565250;
    }
table {
    border-color: #d3cec2;
    }
.card-expand-lg{
    border-color: #d3cec2;
    font-family: "Qestero";
}
.card-img-top{
    background-color: #d3cec2;
    font-family: "Qestero";
    color: #565250;
 }
.btn btn-primary{
    background-color: #d3cec2;
    font-family: "Qestero";
    color: #565250;
    text-align: center;
}
.d-flex flex-row justify-content-around flex-wrap bg-light{
    background-color: #d3cec2;
    font-family: "Qestero";
    color: #565250;
}
.form{
    background-color: #d3cec2;
    border-color:#d3cec2 ;
}
.d-flex flex-column m-1 p-3 border bg-body{
    background-color: #d3cec2;
    font-family: "Qestero";
    border-color: #565250;
    border-radius: 30px;
}
.align-self-center{
    background-color: #d3cec2;
    font-family: "Qestero";
    color: #565250;
    height: 280px;

}
.navbar navbar-expand-lg navbar-light{
    height: 60px;
}
.clearfix {
  clear: both;
}
.input{
    background-color: #d3cec2;
    font-family: "Qestero";
    color: #565250;
}
.d-flex flex-column m-1 p-1 border bg-body{
    background-color: transparent;
    color: transparent;
}
.d-flex flex-column m-1 p-1 border card-title{
    background-color: transparent;
    color: transparent;
}

.block2{
    margin-left: 580px;
    margin-top: -500px;
}
.block3{
    margin-left: 550px;
}
.block4{
    margin-left: 580px;
}
.block5{
    margin-left: 590px;
}
.block6{
    margin-top: -250px;
    margin-left: 565px;
}
.block7{
    margin-top: 80px;
    margin-left: 20px;
}
.block9{
    margin-top: -330px;
    margin-left: 20px;
}
.block10{
   margin-left: 20px;
}
.block11{
    margin-top: 10px;
   margin-left: 20px;
}
.container2{
    margin-left: 20px;
}
.form1{
    margin-left: 650px;
    margin-top: -1200px;
}
.form2{
    margin-left: 630px;
}
@media screen and (max-width: 600px) {
.container2{
    height: 400px;
    width: 100px;
}
.form1{
    margin-left: 20px;
    margin-top: 800px;
}
.form2{
    margin-top: 20px;
}
.block2{
    margin-left: 20px;
     margin-top: 20px;
}
.block3{
    margin-left: 20px;
     margin-top: 20px;
}
.block4{
    margin-left: 20px;
     margin-top: 20px;
}
.block5{
    margin-left: 20px;
     margin-top: 20px;
}
.block7{
    margin-left: 20px;
     margin-top: 20px;
}
.block8{
    margin-left: 20px;
     margin-top: 20px;
}
.block9{
    margin-left: 20px;
     margin-top: 20px;
}
.block10{
    margin-left: 20px;
     margin-top: 20px;
}
.block11{
    margin-left: 20px;
     margin-top: 20px;
}
.block1{
    width: 100px;
}
.block6{
   width: 100px;
}
.photo{
    width: 100px;
}
.container-fluid{
    height:200px;
}
}
