figure {
    border: transparent;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 150px;
    margin: auto;
}

img {
    width: 130px;
    height: 170px;
    border-radius: 20px;
}

figcaption {
    color: white;
    padding: 3px;
    text-align: center;
    font-family: 'Raleway Light';
}

