a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    color: white;
    background-color: transparent;
    text-decoration: none;
}

table{
    border-radius: 20px;
    font-family: "Raleway";
    border-color: transparent;
    text-align: left;
    margin-left: 30px;
}
li {
 font-size: 20px;
}
h1{
    font-size: 20px;
}
h2{
    font-size: 20px;
}