a{
    color: #603703;
    text-decoration: none;
}
figure {
    border: transparent;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 250px;
    margin: auto;
}

figcaption {
    background-color: transparent;
    color: #603703;
    padding: 3px;
    text-align: center;
}
fieldset{
    background-color: transparent;
    border-color: #603703;
    border-decoration: none;
    border-radius: 7px;
    font-family: Qestero;
    text-align: left;
    width: 500px;
}
legend{
    text-align: left;
    margin-left: 40px;
    margin-top: 10px;
    font-size: 20px;
}
input {
    background-color: transparent;
    border-color: #603703;
    border-decoration: none;
    border-radius: 7px;
    font-family: Qestero;
    font-color: #603703;
    text-align: left;
    width: fit-content;
}
li{
    font-family: Qestero;
    text-align: left;
    margin-left: 10px;
}
ul{
    font-family: Qestero;
    text-align: left;
    margin-left: 10px;
}
label {
  font-family: Qestero;
  font-size: 15px;
    color: #603703;
  padding-right: 10px;
}

select {
  font-size: 0.9rem;
  padding: 5px;
    background-color: transparent;
    border-color: #603703;
    border-radius: 7px;
}

.dropdown {
  display: inline-block;
  position: relative;
}


.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
  background-color: #e1ded6;
  border-radius:5px;
}

.dropdown:hover .dropdown-options {
  display: block;
}

.dropdown-options a {
  display: block;
  color: #603703;
  padding: 5px;
  text-decoration: none;
  padding:20px 40px;
}

.dropdown-options a:hover {
  color: #603703;
  background-color: #e1ded6;
  border-radius:5px;
}

