table{
    border-radius: 20px;
    font-family: "Raleway Light";
    border-color: transparent;
    font-palette: white;
}

li {
 font-size: 20px;
}
h1{
    font-size: 20px;
}
h2{
    font-size: 20px;
}